<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singhla.lakshay.decrypt_philanthrophy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Decrypto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProfileActivity"
            android:label="Profile"/>
        <activity android:name=".HIWActivty"
            android:label="How It Works"/>
        <activity android:name=".NGODetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Details"/>
        <activity android:name=".PayActivity"
            android:label="Pay Now"/>
        <activity android:name=".FormActivity"
            android:label="Form"/>
        <activity android:name=".PaymentDoneActivity"
            android:label="Done"/>
    </application>

</manifest>